<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<ul>
  <%- @meetings.each_with_index do |meeting, ind| %>
    <li>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#meeting-<%= ind %>">
        Meeting <%= ind %>
      </button>
    </li>
  <% end %>
</ul>

<%- @meetings.each_with_index do |meeting, ind| %>
   <!-- Modal -->
  <div class="modal fade" id="meeting-<%= ind %>" tabindex="-1" role="dialog" aria-labelledby="label_<%= ind %>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="label_<%= ind %>">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <thead>
            <tr>
              <th>Project ID</th>
              <th>Story ID</th>
              <th>User</th>
              <th>Activity Type</th>
              <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <%- meeting.each do |activity| %>
              <tr>
                <td><%= activity.project_id %></td>
                <td><%= activity.story_id %></td>
                <td><%= activity.username %></td>
                <td><%= activity.activity_type %></td>
                <td><%= activity.created_at %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

